.slideshow-container {
  width   : 100%;
  padding : 0%;
  position: static;
}

.mySlides {
  width : 100%;
  height: 100%;
  filter: brightness(25%);
}

.autocomplete {
  /*the container must be positioned relative:*/
  text-align: center;
  position  : relative;
  display   : inline-block;
  width     : 500px;
}

.autocomplete-items {
  position     : absolute;
  border       : 1px solid #d4d4d4;
  border-bottom: none;
  border-top   : none;
  z-index      : 99;
  top          : 100%;
  left         : 0;
  right        : 0;
}

.autocomplete-items div {
  padding         : 10px;
  cursor          : pointer;
  background-color: #fff;
  border-bottom   : 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.container {
  max-width: 970px;
  margin   : 0%;
}

/* .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
*/
/*
.overlay-container:hover .overlay {
  opacity: 1;
}
.result-box-caption {
  color: white;
  font-size: 20px;
  position: static;
  /* top: 80%; */
  /* left: 50%;
  transform: translate(0%, -20%);
  -ms-transform: translate(0%, -20%);
}
*/


.modal {
  display            : none;
  position           : fixed;
  z-index         : 10 !important;
  left               : 0;
  top                : 0;
  width              : 100%;
  height             : 100%;
  overflow           : auto;
  background-color   : rgb(0, 0, 0);
  background-color   : rgba(0, 0, 0, 0.4);
}

/* .tag {
  border-radius: 20px;
  font-size    : 17px;
  border-style : groove;
  margin-top   : 5px;
  background-color: lightgrey;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 6753a492c4a4514ef719ae8297a1baf446f450f6

.modal-content {
  background-color: #fefefe;
  margin          : 15% auto;
  /* 15% from the top and centered */
  padding         : 20px;
  border          : 1px solid #888;
  width           : 80%;
  /* Could be more or less, depending on screen size */
}

.modal-img{

}
.close {
  color      : black;
  float      : right;
  font-size  : 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color          : black;
  text-decoration: none;
  cursor         : pointer;
}

.title-image {
  width  : 100%;
  padding: 5%;
}

.form-control {
  display: inline;
}

.global-search {
  padding   : 20px 0;
  text-align: center;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -200%);
<<<<<<< HEAD
  size: 150%
=======
>>>>>>> 6753a492c4a4514ef719ae8297a1baf446f450f6
}

.overlay-container:hover .overlay {
  opacity: 1;
}

body {
  padding-top        : 15px;
  padding-bottom     : 15px;
  /* background-image: url(img/webb-dark.png); */
}


.global-search .form-control {
  width: 500px;
}

.global-search * {
  display      : inline-block;
  margin-bottom: 0;
}

.btn {
  background-color: #4285F4;
  border          : none
}

.step-links a {
  color: #4285F4;
}

.footer {
  position        : absolute;
  bottom          : 0;
  width           : 100%;
  /* height       : 60px; */
  background-color: #f5f5f5;
}

.result-box {
  display            : block;
  height             : 160px;
  padding            : 50px 0;
  background-size    : cover;
  background-position: center;
  text-align         : center;
  background         : rgba(0, 0, 0, 0.1);
}

.result-text {
  font-size: medium;
  color    : black;
}

.signin {
  position: relative;
}
