

.result-box {
  height: 160px
}

.global-search {
  padding: 20px 0;
  text-align:center;
}
body {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: lightgrey;
}

.global-search {
  text-align:center;
  padding:10px;
  z-index: 10;
}
.global-search .form-control {
  width:500px;
}
.global-search * {
  display:inline-block;
  margin-bottom:0;
}

.btn{
  background-color: #4285F4;
  border: none
}
.step-links a{
  color: #4285F4;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
    background-color: #f5f5f5;
}
.signin{
  position: relative;
}
.signin a{
  position: absolute;
  top: 0px;
  left: 0px;
}

#btns{
  display: flex;
  justify-content: space-evenly;
}
