<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Mobile Games</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
      <div class="topcorner">
          <a href="account" class = "btn btn-warning">Sign In</a>
      </div>

      <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <nav>
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Search</a>
              </li>
              <li>
                <a href="popular">Popular</a>
              </li>
              <li>
                <a href="videogames">Video Games</a>
              </li>
              <li>
                <a href="mobilegames">Mobile Games</a>
              </li>
              <li>
                <a href="boardgames">Board Games</a>
              </li>
            </ul>
        </nav>
        <div class = "container">
          <p class = "navbar-text pull-right">Built by: cj369, ec636, lfh32, ll692, mac568</p>
        </div>
      </div>

      <h1>Mobile Games</h1>
    </body>

</html>
