<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Game Recommendations</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Student Name: Cindy Jin (cj369), Elisha Chen (ec636), Linda He (lfh32), Leo Leyva (ll692), Mahin Chowdhury (mac568)</p>
        </div>

        
        </form>

        <!-- <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form> -->

    </body>

</html>
