<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Game Recommendations</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body style="padding:0px">

    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="popular">Popular</a>
                </li>
                <li>
                    <a href="videogames">Video Games</a>
                </li>
                <li>
                    <a href="mobilegames">Mobile Games</a>
                </li>
                <li>
                    <a href="boardgames">Board Games</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <p class="navbar-text pull-right">Built by: cj369, ec636, lfh32, ll692, mac568</p>
        </div>
    </div>


      <!-- Slideshow -->
    <div class="slideshow-container" style="padding:0%; position: static;">

      <!-- Full-width images with number and caption text

      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow1.jpg') }}" alt="slideshow1" style="width: 100%;" > -->
      <img class="mySlides" src="{{ url_for('static', filename='img/p1.jpeg') }}" alt="slideshow2" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p2.jpeg') }}" alt="slideshow3" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p3.jpeg') }}" alt="slideshow4" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p4.jpeg') }}" alt="slideshow5" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p6.jpeg') }}" alt="slideshow7" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p8.png') }}" alt="slideshow8" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p9.jpeg') }}" alt="slideshow9" style="width: 100%; height: 100%; filter: brightness(80%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p10.png') }}" alt="slideshow10" style="width: 100%; height: 100%; filter: brightness(80%);">

      <!--
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow8.jpeg') }}" alt="slideshow8" style="width: 100%;">
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow9.png') }}" alt="slideshow9" style="width: 100%;">
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow10.png') }}" alt="slideshow10" style="width: 100%;" >
      -->

    </div>

    <form class="form-inline " style="position: absolute;
                                                  top: 50%;
                                                  left: 50%;
                                                  transform: translate(-50%, -200%);
                                                  text-align:center;">
        <img class="tite-image" src="{{ url_for('static', filename='img/title.png') }}" alt="title2" style="width: 100%; padding: 5%;">

        <div class="form-group" style="text-align:center">
            <input
                list="input_game"
                id="gn"
                name="game"
                class="form-control"
                placeholder="Enter a game to start"
                autocomplete="off"
            >
            <!-- type="search" -->
            <datalist id="input_game" style="font-family: Helvetica Neue; font-style: normal;"></datalist>
            <button id="go" type="submit" class="btn btn-info">Go!</button>
        </div>
    </form>

    <div id="output">
      <h4 style="text-align:center">{{output_message}}</h4>
    </div>

    <div class="container-fluid results" style="padding-bottom: 75px;">
        <form class="form-inline" style="text-align:center;">
            {% if data != None %}
            {% for d in data %}
            <div class="col-sm-4 overlay-container" style="padding: 5px; position:relative">
                <!-- Being Image of result -->
                <div class="result-box "
                style="
                display: block;
                height: 160px;
                padding: 50px 0;
                background-size: cover;
                background-position: center;
                background-image: url(
                    {% if gt == 'Video Games' %}
                    {{ d[5] }}
                    {% elif gt == 'Board Games' %}
                    {{ d[2] }}
                    {% endif %}
                );">
                </div>

                <!-- End Image of result  -->

                <!-- Begin overlay  -->
                <div class="overlay" style="height: 100%;">
                  <div class="result-box-caption">
                    <div class="result-box-caption-content">
                      <!-- Game Name -->
                      <div class="result-text">
                        <p>
                          <strong>
                            {% if gt == 'Video Games' %}
                            {{ d[1] }}

                            {% else %}
                            {{ d[0] }}
                            {% endif %}
                          </strong>
                        </p>
                      </div>

                      <br>
                      <br>
                      <!-- More info button -->
                      <div class="result-expand">
                        <button type="button" class="modal-btn btn btn-info" id="button">More info</button>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- End overlay  -->

            </div>
            <div class="modal-pop-up modal" id="m-{{loop.index0}}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">
                          {% if gt == 'Video Games' %}
                          {{ d[1] }}
                          {% else %}
                          {{ d[0] }}
                          {% endif %}
                      </h5>

                      <span class="close" id="close-{{loop.index0}}" style="size=200%;">&times;</span>
                      <!-- <span class="close" id="close-{{loop.index0}}">x</span> -->
                    </div>
                      <div class="modal-body">
                          <img class="modal-img" src=
                              "{% if gt == 'Video Games' %}
                              {{ d[5] }}
                              {% elif gt == 'Board Games' %}
                              {{ d[2] }}
                              {% endif %}"
                              alt="game image"
                              style="width:80%"
                          >
                          <p><a href="
                              {% if gt == 'Video Games' or gt == 'Mobile Games' %}
                              {{ d[6] }}
                              {% elif gt == 'Board Games' %}
                              {{ d[3] }}
                              {% endif %}
                          ">
                              Click here for more info
                          </a></p>
                          <p>Similarity Score: {% if gt == 'Video Games'%}
                          {{ d[0] }}
                          {% elif gt == 'Mobile Games' %}
                          {{ d[1] }}
                          {% elif gt == 'Board Games' %}
                          {{ d[1] }}
                          {% endif %}</p>
                          <p>{% if gt == 'Video Games'%}
                          Price: {{ d[4] }}
                          {% elif gt == 'Mobile Games' %}
                          Price: {{ d[2] }}

                          {% endif %}</p>
                          <p>Tags: {% if gt == 'Video Games'%}
                          {{ d[0] }}
                          {% elif gt == 'Mobile Games' %}
                          {{ d[2] }}
                          {% elif gt == 'Board Games' %}
                          {{ d[5] }}
                          {% endif %}</p>
                      </div>

                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
        </form>
    </div>

    <script>
        var modals = document.getElementsByClassName("modal-pop-up");
        var btns = document.getElementsByClassName("modal-btn");
        var spans = document.getElementsByClassName("close");

        console.log(modals)
        console.log(btns)
        console.log(spans)

        for (let i = 0; i < modals.length; i++) {
            // btns[i].onclick = function() {
            //     modals[i].style.display = "block";
            //     console.log(i)
            // }
            // spans[i].onclick = function() {
            //     modals[i].style.display = "none";
            //     console.log(i)
            // }
            // window.onclick = function(event) {
            //     if (event.target == modals[i]) {
            //         modals[i].style.display = "none";
            //     }
            // }

            // modal = modals[i]
            // btn = btns[i]
            // span = spans[i]

            console.log("poo")

            btns[i].onclick = function() {
                modals[i].style.display = "block";
            }
            spans[i].onclick = function() {
                modals[i].style.display = "none";
            }
            window.onclick = function(event) {
              console.log("xd")
              console.log(event.target)
              console.log(i)
                if (event.target == modals[i]) {
                  console.log("LOL")
                    modals[i].style.display = "none";
                }
            }
          }

        // // When the user clicks the button, open the modal
        // btns[0].onclick = function() {
        //     modals[0].style.display = "block";
        // }
        //
        // btns[1].onclick = function() {
        //     modals[1].style.display = "block";
        // }
        // // When the user clicks on <span> (x), close the modal
        // spans[0].onclick = function() {
        //   console.log("pls")
        //     modals[0].style.display = "none";
        // }
        //
        // spans[1].onclick = function() {
        //     modals[1].style.display = "none";
        // }
        // // When the user clicks anywhere outside of the modal, close it
        // window.onclick = function(event) {
        //     if (event.target == modals) {
        //         modal.style.display = "none";
        //     }
        // }



        async function edDist(gn, gt){
          var res = await $.ajax({
            url: "/",
            type: "POST",
            data: { 'game_name': gn },
            success: hallelujah
          });
          return res;
        }

        function hallelujah(response) {
            console.log(response)
        }

        let gn = d3.select('#gn');
        gn.on('input', function(){
            var x = document.getElementById('input_game');
            while (x.lastChild) {
                x.removeChild(x.lastChild);
            }

            if (document.getElementById('gn').value == '' ||
                document.getElementById('gn').value == null) { return; }

            edDist(document.getElementById('gn').value)
                .then(val => {
                    let ans = val.split(';');
                    for (let i = 0; i < 5; i++) {
                        var op = document.createElement('option');
                        op.setAttribute("value", ans[i]);
                        document.getElementById('input_game').appendChild(op);
                    }
                    console.log('complete ' + val)
                });
        });
    </script>

    <script>
      var slideIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
</html>
