<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Game Recommendations</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
    <div class="topcorner">
        <a href="account" class="btn btn-warning">Sign In</a>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="popular">Popular</a>
                </li>
                <li>
                    <a href="videogames">Video Games</a>
                </li>
                <li>
                    <a href="mobilegames">Mobile Games</a>
                </li>
                <li>
                    <a href="boardgames">Board Games</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <p class="navbar-text pull-right">Built by: cj369, ec636, lfh32, ll692, mac568</p>
        </div>
    </div>
    <h1 style="font-size: 55px; font-family:Futura; color: #4285F4; text-align:center">
        C
        <span style="color: #EA4335; ">S</span>
        <span style="color: #FBBC05; ">4</span>
        3
        <span style="color: #34A853; ">0</span>
        <span style="color: #EA4335; ">0</span>
    </h1>
    <h2 style="text-align:center">Game Recommendation Engine</h2>
    <h3 style="text-align:center">{{output_message}}</h3>
    <form class="form-inline global-search">
        <div class="form-group" style="text-align:center">
            <input
                list="input_game"
                id="gn"
                name="game"
                class="form-control"
                placeholder="Enter a game to start"
                autocomplete="off"
            >
            <!-- type="search" -->
            <datalist id="input_game" style="font-family: Helvetica Neue; font-style: normal;"></datalist>
            <button id="go" type="submit" class="btn btn-info"> Go!</button>
        </div>
    </form>
    <div class="container-fluid results">
        <form class="form-inline global-search">
            {% if data != None %}
            {% for d in data %}
            <div class="col-sm-4" style="padding: 5px;">
                <div class="result-box"
                style="
                display: block;
                height: 160px;
                padding: 50px 0;
                border-style: solid;
                background-size: cover;
                background-position: center;
                background-image: url(
                    {% if gt == 'Video Games' %}
                    {{ d[5] }}
                    {% elif gt == 'Board Games' %}
                    {{ d[2] }}
                    {% endif %}
                )">
                    <div class="result-box-caption">
                        <div class="result-box-caption-content">
                            <div class="result-text">
                                <p>
                                    <strong>
                                        {% if gt == 'Video Games' %}
                                        {{ d[1] }}
                                        {% else %}
                                        {{ d[0] }}
                                        {% endif %}
                                    </strong>
                                </p>
                            </div>
                            <br>
                            <br>
                            <div class="result-expand">
                                <a href="
                                    {% if gt == 'Video Games' or gt == 'Mobile Games' %}
                                    {{ d[6] }}
                                    {% elif gt == 'Board Games' %}
                                    {{ d[3] }}
                                    {% endif %}
                                ">
                                    Click here for more info
                                </a>
                            </div>
                            <br>
                            <button type="button" class="modal-btn">Open Modal</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-pop-up modal" style="display: none !important;">
                <div class="modal-content">
                    <div>
                        <span class="close">&times;</span>
                        <p>Some text. Some text. Some text.</p>
                        <p>Some text. Some text. Some text.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </form>
    </div>
    <br>
    <br>
    <script>
        var modals = document.getElementsByClassName("modal-pop-up");
        var btns = document.getElementsByClassName("modal-btn");
        var spans = document.getElementsByClassName("close");

        for (let i = 0; i < 5; i++) {
            modal = modals[i]
            btn = btns[i]
            span = spans[i]

            btn.onclick = function() {
                modal.style.display = "block";
            }
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
        

        async function edDist(gn, gt){
          var res = await $.ajax({
            url: "/",
            type: "POST",
            data: { 'game_name': gn },
            success: hallelujah
          });
          return res;
        }
    
        function hallelujah(response) {
            console.log(response)
        }
    
        let gn = d3.select('#gn');
        gn.on('input', function(){
            var x = document.getElementById('input_game');
            while (x.lastChild) {
                x.removeChild(x.lastChild);
            }

            if (document.getElementById('gn').value == '' ||
                document.getElementById('gn').value == null) { return; }

            edDist(document.getElementById('gn').value)
                .then(val => {
                    let ans = val.split(';');
                    for (let i = 0; i < 5; i++) {
                        var op = document.createElement('option');
                        op.setAttribute("value", ans[i]);
                        document.getElementById('input_game').appendChild(op);
                    }
                    console.log('complete ' + val)
                });
        });
    </script>
</html>
