<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <title>Game Recommendations</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <style>
      .tag{
        border-radius: 20px;
        font-size: 17px;
        border-style: groove;
      }
    </style>
</head>
<body id = 'b'>
    <div class="topcorner">
        <a href="account" class="btn btn-warning">Sign In</a>
    </div>
<body style="padding:0px">

    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="popular">Popular</a>
                </li>
                <li>
                    <a href="videogames">Video Games</a>
                </li>
                <li>
                    <a href="mobilegames">Mobile Games</a>
                </li>
                <li>
                    <a href="boardgames">Board Games</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <p class="navbar-text pull-right">Built by: cj369, ec636, lfh32, ll692, mac568</p>
        </div>
    </div>


      <!-- Slideshow -->
    <div class="slideshow-container" style="padding:0%; position: static;">

      <!-- Full-width images with number and caption text

      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow1.jpg') }}" alt="slideshow1" style="width: 100%;" > -->
      <img class="mySlides" src="{{ url_for('static', filename='img/p1.jpeg') }}" alt="slideshow2" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p2.jpeg') }}" alt="slideshow3" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p3.jpeg') }}" alt="slideshow4" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p4.jpeg') }}" alt="slideshow5" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p6.jpeg') }}" alt="slideshow7" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p8.png') }}" alt="slideshow8" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p9.jpeg') }}" alt="slideshow9" style="width: 100%; height: 100%; filter: brightness(50%);">
      <img class="mySlides" src="{{ url_for('static', filename='img/p10.png') }}" alt="slideshow10" style="width: 100%; height: 100%; filter: brightness(50%);">

      <!--
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow8.jpeg') }}" alt="slideshow8" style="width: 100%;">
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow9.png') }}" alt="slideshow9" style="width: 100%;">
      <img class="mySlides" src="{{ url_for('static', filename='img/slideshow10.png') }}" alt="slideshow10" style="width: 100%;" >
      -->

    </div>

    <form class="form-inline global-search" style="position: absolute;
                                                  top: 50%;
                                                  left: 50%;
                                                  transform: translate(-50%, -200%);">
        <img class="tite-image" src="{{ url_for('static', filename='img/title.png') }}" alt="title2" style="width: 100%; padding: 5%;">

        <div class="form-group" style="text-align:center">
            <input
                list="input_game"
                id="gn"
                name="game"
                class="form-control"
                placeholder="Enter a game to start"
                autocomplete="off"
            >
            <!-- type="search" -->
            <datalist id="input_game" style="font-family: Helvetica Neue; font-style: normal;"></datalist>
            <button id="go" type="submit" action = ''class="btn btn-info"> Go!</button>
            <br/>
            <br/>
            <div id = 'Steam Games' style ='border-color: #4285F4;border-width: 5px;'>
              <div>
                <h4>Genres to Include:</h4>
                <ul name = 'genres_in' id = 'genres_in'>
                  <button class ='tag' type='button'>Accounting</button>
                  <button class = 'tag' type='button'>Action</button>
                  <button class='tag' type='button'>Adventure</button>
                  <button class='tag' type='button'>Animation & Modeling</button>
                  <button class='tag' type='button'>Audio Production</button>
                  <button class='tag' type='button'>Casual</button>
                  <button class='tag' type='button'>Design & Illustration</button>
                  <button class='tag' type='button'>Documentary</button>
                  <button class='tag' type='button'>Early Access</button>
                  <button class='tag' type='button'>Education</button>
                  <button class='tag' type='button'>Free to Play</button>
                  <button class='tag' type='button'>Game Development</button>
                  <button class='tag' type='button'>Gore</button>
                  <button class='tag' type='button'>Indie</button>
                  <button class='tag' type='button'>Massively Multiplayer</button>
                  <button class='tag' type='button'>Nudity</button>
                  <button class='tag' type='button'>Photo Editing</button>
                  <button class='tag' type='button'>Racing</button>
                  <button class='tag' type='button'>RPG</button>
                  <button class='tag' type='button'>Sexual Content</button>
                  <button class='tag' type='button'>Simulation</button>
                  <button class='tag' type='button'>Software Training</button>
                  <button class='tag' type='button'>Sports</button>
                  <button class='tag' type='button'>Strategy</button>
                  <button class='tag' type='button'>Tutorial</button>
                  <button class='tag' type='button'>Utilities</button>
                  <button class='tag' type='button'>Video Production</button>
                  <button class='tag' type='button'>Violent</button>
                  <button class='tag' type='button'>Web Publishing</button>
                </ul>
              </div>
              <br>
              <div>
                <h4>Genres to Exclude:</h4>
                <ul name = 'genres_ex' id='genres_ex'>
                  <button class='tag' type='button'>Accounting</button>
                  <button class='tag' type='button'>Action</button>
                  <button class='tag' type='button'>Adventure</button>
                  <button class='tag' type='button'>Animation & Modeling</button>
                  <button class='tag' type='button'>Audio Production</button>
                  <button class='tag' type='button'>Casual</button>
                  <button class='tag' type='button'>Design & Illustration</button>
                  <button class='tag' type='button'>Documentary</button>
                  <button class='tag' type='button'>Early Access</button>
                  <button class='tag' type='button'>Education</button>
                  <button class='tag' type='button'>Free to Play</button>
                  <button class='tag' type='button'>Game Development</button>
                  <button class='tag' type='button'>Gore</button>
                  <button class='tag' type='button'>Indie</button>
                  <button class='tag' type='button'>Massively Multiplayer</button>
                  <button class='tag' type='button'>Nudity</button>
                  <button class='tag' type='button'>Photo Editing</button>
                  <button class='tag' type='button'>Racing</button>
                  <button class='tag' type='button'>RPG</button>
                  <button class='tag' type='button'>Sexual Content</button>
                  <button class='tag' type='button'>Simulation</button>
                  <button class='tag' type='button'>Software Training</button>
                  <button class='tag' type='button'>Sports</button>
                  <button class='tag' type='button'>Strategy</button>
                  <button class='tag' type='button'>Tutorial</button>
                  <button class='tag' type='button'>Utilities</button>
                  <button class='tag' type='button'>Video Production</button>
                  <button class='tag' type='button'>Violent</button>
                  <button class='tag' type='button'>Web Publishing</button>
                </ul>
              </div>
              <br>
              <div id = ''>

              </div>
            <button type ='button' class='filter'>Filter</button>
            </div>
        </div>
    </form>

    <div id="output">
      <h4 style="text-align:center">{{output_message}}</h4>
    </div>

    <div class="container-fluid results">
        <form class="form-inline global-search">
            {% if data != None %}
            {% for d in data %}
            <div class="col-sm-4 overlay-container" style="padding: 5px;">
                <div class="result-box overlay"
                style="
                display: block;
                height: 160px;
                padding: 50px 0;
                background-size: cover;
                background-position: center;
                background-image: url(
                    {% if gt == 'Video Games' %}
                    {{ d[5] }}
                    {% elif gt == 'Board Games' %}
                    {{ d[2] }}
                    {% endif %}
                );">
                    <div class="result-box-caption">
                        <div class="result-box-caption-content">
                            <div class="result-text">
                                <p>
                                    <strong class = 'rankings'>
                                        {% if gt == 'Video Games' %}
                                        {{ d[1] }}
                                        {% else %}
                                        {{ d[0] }}
                                        {% endif %}
                                    </strong>
                                </p>
                            </div>
                            <br>
                            <br>
                            <div class="result-expand">

                            </div>
                            <br>
                            <button type="button" class="modal-btn btn btn-info">More info</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-pop-up modal">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">
                          {% if gt == 'Video Games' %}
                          {{ d[1] }}
                          {% else %}
                          {{ d[0] }}
                          {% endif %}
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="modal-body">

                          <p><a href="
                              {% if gt == 'Video Games' or gt == 'Mobile Games' %}
                              {{ d[6] }}
                              {% elif gt == 'Board Games' %}
                              {{ d[3] }}
                              {% endif %}
                          ">
                              Click here for more info
                          </a></p>
                          <p>Some text. Some text. Some text.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
        </form>
    </div>

    <script>
    
    function get_filters (x){
      var f = $(x).find('button').map(function () {
        var item = []
        if (window.getComputedStyle(this)['backgroundColor'] === "rgb(135, 206, 235)") {
          item.push(this.textContent);
        }
        return item;
      });
      return f;
    }
    
    $('.filter').click(function(){
       let post_data = {
         gi: get_filters($('#genres_in')),
         ge: get_filters($('#genres_ex')) ,
       }
       post_data = JSON.stringify(post_data)
      $.ajax({
        url: window.location.href,
        type: 'POST',
        contentType: 'application/json',
        data: post_data,
        dataType: 'json',
        success: function(data){
          let d = data['data'].replaceAll('[', '').replaceAll(']', '').split(')')
          console.log(d)
          for (let i = 0; i < d.length; i++) {
            d[i] = d[i].replace('(', '').split(',')
            if (d[i][0] === '') {
              d[i].shift()
            }

          $('.rankings').each(function (j, obj) {
               obj.innerHTML = d[j][1]
             });
          }
        },
        error: function(){
          console.log('FAIL')
        }
      });
    });


      $('.tag').each(function(i, obj){
        obj.onclick = function(){
          console.log(obj.style.backgroundColor.localeCompare('skyblue'))
          if (obj.style.backgroundColor.localeCompare('skyblue') === 0){
            obj.style.background = '#f0f0f0';
          }
          else{
             obj.style.backgroundColor = 'skyblue';
            }

        };

      });
        var modals = document.getElementsByClassName("modal-pop-up");
        var btns = document.getElementsByClassName("modal-btn");
        var spans = document.getElementsByClassName("close");

        for (let i = 0; i < modals.length; i++) {
            modal = modals[i]
            btn = btns[i]
            span = spans[i]

            btn.onclick = function() {
                modal.style.display = "block !important";
            }
            span.onclick = function() {
                modal.style.display = "none !important";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none !important";
                }
            }
        }


        async function edDist(gn, gt){
          var res = await $.ajax({
            url: "/",
            type: "POST",
            data: { 'game_name': gn },
            success: hallelujah
          });
          return res;
        }

        function hallelujah(response) {
            console.log(response)
        }

        let gn = d3.select('#gn');
        gn.on('input', function(){
            var x = document.getElementById('input_game');
            while (x.lastChild) {
                x.removeChild(x.lastChild);
            }

            if (document.getElementById('gn').value == '' ||
                document.getElementById('gn').value == null) { return; }

            edDist(document.getElementById('gn').value)
                .then(val => {
                    let ans = val.split(';');
                    for (let i = 0; i < 5; i++) {
                        var op = document.createElement('option');
                        op.setAttribute("value", ans[i]);
                        document.getElementById('input_game').appendChild(op);
                    }
                    console.log('complete ' + val)
                });
        });
    </script>

    <script>
      var slideIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
</html>
